{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<style>
   .rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
   }
  </style>
<img src="{% static 'img/programmist.jpg' %}" width="40%" height="60%" class="rightpic" alt="какой то левый чел">

<h1>Привет, я автор</h1>

<p>
  Меня зовут Алексей, мне 25 лет. Живу в городе Брянск.
  Закончил РЭУ им. Г.В. Плеханова на базе среднего профессионального образования.
  Сейчас нигде не работаю, но в ближайшем будущем планирую стать it-специалистом.
</p><br>
<p> И сидеть так же как этот парень справа :D</p><br><br><br>





{% endblock %}